.container {
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left, .middle, .right {
  /* height: 300px; */
}

.left{
  flex: 2;
  margin: 0 8px;
}
.middle{
  flex: 5;
  margin: 0 8px;
}
.right{
  flex: 2.5;
  margin: 0 8px;
}
