.content {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    /* justify-content: left; */
    height: 95px;
    font-weight: bold;
}

.header__logo-img {
    background: url("../images/logo_vamz.svg");
    background-size: 100%;
    height: 95px;
    width: 131px;
}

.header__logo-link {
    flex: auto;
}

.header__panel {
    display: flex;
    flex-flow: column;
}

.header__upnav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.upnav__item {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-top: 20px;
}

.upnav__link {
    color: #ccc;
    text-decoration: none;
}

.header__navbar {
    /* flex: 0 1 auto; */
    flex: 2;
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
    /* background-color: green; */
}

.navbar__item {
    /* display: inline-block; */
    height: 64px;
    font-size: 0.9rem;
}

.navbar__item:nth-child(n+2)::before {
    content: "/";
    color: #ccc;
    font-style: italic;
    float: left;
    display: block;
    width: 20px;
    text-align: center;
    line-height: 64px;
}

.navbar__item:nth-child(-n+4)>.navbar__link::after {
    content: "∨";
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
    display: block;
    position: absolute;
    right: 5px;
    top: -1px;
}

.navbar__link {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: block;
    height: 64px;
    line-height: 64px;
}

.navbar__item:nth-child(n+5)>.navbar__link {
    padding-right: 0;
}

.navbar__link:hover {
    color: #d31d28;
}

.header__form {
    flex: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}

.search__input {
    flex: 1;
    height: 30px;
    width: 144px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
}

.search__btn {
    flex: none;
    height: 30px;
    width: 30px;
    color: gray;
    border: 1px solid #ccc;
    border-left: none;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}

.alert {
    padding: 5px;
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    font-size: 0.8rem;
}

.alert__link {
    color: #5b9cc4;
    font-weight: bold;
}

.main__showcase {
    display: flex;
    flex-flow: column;
}

.showcase__top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: red;
    height: 700px;
    color: white;
    text-align: center;
}

.top-banner__heading {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
}

.top-banner__vs {
    font-family: 'Lacquer', sans-serif;
}

.showcase__sub-banners {
    display: flex;
    height: 571px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.showcase__banner {
    flex: 1;
    background-color: grey;
    text-align: center;
    line-height: 571px;
    word-wrap: normal;
}

.showcase__banner:nth-child(even) {
    background-color: black;
    color: white;
}

.main__heading {
    text-align: center;
    font-size: 2rem;
}

.main__heading-decor+.main__heading {
    margin-top: 0;
}

.main__heading-decor {
    color: #d31d28;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 20px;
}


/* Categories */

.categories {
    display: flex;
    flex-flow: row wrap;
}

.category {
    flex: 1 417px;
    height: 276px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 14.5px;
    margin-top: 14.5px;
    /* background-color: black; */
    font-weight: bold;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
}

.category__container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.category:first-child,
.category:nth-child(4) {
    margin-left: 0;
}

.category:first-child {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_1.jpg);
}

.category:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_2.jpg);
}

.category:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_3.jpg);
}

.category:nth-child(4) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_4.jpg);
}

.category:nth-child(5) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_5.jpg);
}

.category:nth-child(6) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/news_6.jpg);
}

.category__heading {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.category__subheading {
    color: #87bfe1;
    text-decoration: none;
    line-height: 1.6;
    letter-spacing: 2px;
}


/* News */

.news__articles {
    display: flex;
    margin-bottom: 40px;
    margin-right: 20px;
}

.article {
    flex: 1;
    /* height: 520px; */
    margin-left: 20px;
}

.article__thumbnail {
    display: block;
    width: 100%;
}

.article__title {
    font-weight: 100;
}

.article__para {
    color: #64686B;
    /* text-align: justify; */
    margin-bottom: 0;
}

.article__link {
    color: #5a9bc2;
    text-decoration: none;
    font-size: 0.8rem;
}

.btn {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 101px;
    background-color: #1b1b1b;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.btn-lg {
    width: 290px;
}

.footer {
    background-color: #1b1b1b;
    color: white;
    margin-top: 40px;
}

.nav-foot {
    display: flex;
    padding-top: 20px;
    padding-left: 105px;
    padding-right: 105px;
}

.nav-col {
    flex: 1;
}

.nav-col__heading {
    margin-bottom: 0;
}

.nav-col__subheading {
    font-size: 0.8rem;
}

.nav-col__subheading-shop {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-col__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-col__link {
    color: #5a9bc2;
    font-size: 0.8rem;
    text-decoration: none;
    line-height: 24px;
}

.nav-col__contact {
    color: grey;
    font-size: 0.8rem;
    text-transform: none;
    font-weight: normal;
}

.footer__loc-soc {
    display: flex;
    margin-left: 105px;
    padding-top: 40px;
}

.loc-soc__item {
    flex: 1;
}

.btn-att {
    background-color: #d31d28;
    margin: 0;
    width: 210px;
    height: 48px;
}

.soc {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.soc__item {
    background-color: #3e3e3e;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
}

.soc__link {
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
}

.loc-soc__form {
    display: flex;
}

.form__input {
    height: 40px;
    width: 220px;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px;
    font-size: 1.2rem;
}

.form__send {
    flex: none;
    height: 40px;
    width: 70px;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #d31d28;
    text-align: center;
    line-height: 40px;
}

.footer-extra {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__logo-img {
    height: 90px;
    margin-left: 105px;
}

.footer-sign {
    display: inline;
    vertical-align: top;
    color: gray;
}