.row{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorthead{
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px 0;
}

.types{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: gray;
    margin: 0;
}

.type{
   margin-left: 10px; 
   padding: 10px;
}

.type:hover{
    color: blue;
    background-color: #d7dbeb;
    border-radius: 4px;
    padding: 10px !important;
}

.type:first-child{
    color: #000;
    border-bottom: 3px solid #3246d4;
    padding: 10px 0;
}